<button *ngFor="let file of files"
        (click)="unzip(file)">Unzip {{file.fileName}}</button>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Compressed size</td>
      <td>Uncompressed size</td>
      <td>Memory used</td>
      <td>Time</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results$ | async">
      <td>{{result.file.fileName}}</td>
      <td>{{result.compressedSize}}</td>
      <td>{{result.uncompressedSize}}</td>
      <td>{{result.memory}}</td>
      <td>{{result.time}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>